
.product{
  margin-bottom: 50px;
}
.product img {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 20px;
  max-height: 210px;
  width: 100%;
}
.product button{
  position: relative;
  top: -90px;
  left: 190px;
  border-radius: 50px;
  padding: 5px 17px;
  margin-top: 20px;
  font-size: 25px;
  background: #FA643D;
  color: #fff;
  outline: none;
  
}
.badge-primary{
  color: #503E9D;
  background: #503E9D10;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 0;
}
.product .ration-img{
  width: 70%;
  height: 100%;
  padding: 10px;
}
 .product small{
   line-height: 15px;
   display: block;
 }