.petshop-infos span{
  vertical-align: middle;
  color: #626264;
}
.petshop-infos span.mdi-star{
  color: #facd5d ;
}
.petshop-infos text {
  font-size: 13px;
  margin-right: 10px;
  vertical-align: middle ;
  color: #626264 ;
}
.badge-secondary{
  color: #503E9D;
  background: #503E9D10;
  padding: 4px 8px;
  border-radius: 4px;
}